

<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>

<script src="~/dist/main-client.js" asp-append-version="true"></script>

